@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #2b1055, #753a88);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.bg-purple {
  background: linear-gradient(to right, #2b1055, #753a88) !important;
  color: white;
}

/* Ini transisi hover jadi gede */
.hoverable {
  transition: transform 0.3s ease;
}

/* Ini kalo dihover jadi gede */
.hoverable:hover {
  transform: scale(1.05);
}

/* Ini transisi hover jadi gede + warnanya jadi putih */
.hoverable-white {
  transition: transform 0.3s ease;
}

/* Ini kalo dihover jadi gede + warnanya jadi putih */
.hoverable-white:hover {
  transform: scale(1.05);
  background-color: white;
  color: black;
}

.hoverable:hover .services-icon {
  background-color: white;
  color: black;
}

.step-box {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.step-number {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #a64bf4;
  color: white;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 60%;
  padding: 3px;
}

.purple-icon {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.form-control {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  height: auto;
  color: white;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid white;
  color: white;
  text-align: left;
}

.input-group-text {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  height: auto;
  color: white;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.passwordToggler {
  position: absolute;
  top: 50%; /* posisi vertikal di tengah */
  right: 0.5rem; /* jarak dari kanan, bisa sesuaikan */
  transform: translateY(-50%); /* geser ke atas setengah tinggi elemen agar benar tengah */
  color: white;
}
